.tasks {
    padding: 10px 15px;
    list-style-type: none;
    display: grid;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.tasks__cheked {
    background: green;
    color: white;
    height: 25px;
    width: 25px;
    margin: 10px;
    border-style: none;
}

.tasks__delete {
    background: red;
    color: white;
    height: 25px;
    width: 25px;
    margin: 10px;
    border-style: none;
}