.tasks {
    padding: 10px 15px;
    list-style-type: none;
}

.tasks__cheked {
    background: green;
    color: white;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.tasks__delete {
    background: red;
    height: 25px;
    width: 25px;
    margin: 10px;
}